@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: var(--font-itim);
  --font-menu: var(--font-montserrat);
  --font-text: var(--font-montserrat);
  --color-primary: #3498db;
  --color-secondary: #BE123C;
}

/* BODY */
body {
  font-family: var(--font-text);
  background: #f9fafb;
}

/* TITRES */
h1,
h2,
h3 {
  font-family: var(--font-title);
}

/* MENU (optionnel) */
.navbar {
  font-family: var(--font-menu);
}